html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

i {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.container {
  padding: 0 40px;
  max-width: 1440px;
  margin: auto;
}

.head {
  background: rgba(105, 129, 248, 0.8);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.navbar .navbar-ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.navbar .navbar-ul .navbar-link {
  color: #fff;
  font-size: 15px;
  font-weight: 600px;
}

@media (max-width: 766px) {
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
  }

  .navbar .navbar-ul {
    background: rgba(33, 68, 246, 0.5);
    padding: 10px 20px;
    border-radius: 10px 20px;
  }
}
