html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #171723;
}

i {
  cursor: pointer;
}

.container {
  padding: 0 40px;
  max-width: 600px;
}
