html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #242424;
}

i {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.like-icon {
  width: 20px;
  cursor: pointer;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  background: rgba(33, 68, 246, 0.9);
  border: none;
  border-radius: 15px;
}

button:hover {
  transform: scale(0.9);
}

.msg {
  display: none;
  position: fixed;
  left: 70%;
  width: 200px;
  padding: 10px 10px;
  border-radius: 15px;
  text-align: center;
  color: #fff;
  z-index: 10;
}

.container {
  padding: 0 40px;
  max-width: 1440px;
  margin: 0 auto;
}

/* header */
.head {
  background: rgba(105, 129, 248, 0.8);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.navbar .navbar-ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.navbar .navbar-ul .navbar-link {
  color: #fff;
  font-size: 15px;
  font-weight: 600px;
}

.movies {
  margin: 50px 0;
}

.movies .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.movies .card {
  max-width: 400px;
  background: #efefef;
  padding: 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.movies .card h3 {
  margin-block: 10px;
}

.movies img {
  border-radius: 20px;
}

.movies .card .card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 20px;
}

/* Footer  */
.foot {
  background-color: rgba(105, 129, 248, 0.8);
}

.foot .container {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.popContainer {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  padding: 60px 0;
  overflow: auto;
  background: rgba(36, 36, 36, 0.9);
}

.pop {
  max-width: 600px;
  padding: 20px;
  margin: 0 auto;
  background: #fff;
  border-radius: 20px;
}

.popup {
  display: flex;
  flex-direction: column;
}

.comment-count {
  display: flex;
  gap: 20px;
  margin-top: 10px;
  margin-bottom: -10px;
}

.pop .title {
  margin-block: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.pop .summary {
  margin-block: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.commentDiv {
  height: 200px;
  overflow-y: auto;
  margin-block: 20px;
}

.commentDiv p {
  background: rgba(36, 36, 36, 0.9);
  color: #fff;
  padding: 10px 20px;
  margin-block: 10px;
  border-radius: 20px;
}

.nameField,
.commentField {
  width: 100%;
  border-radius: 20px;
  padding: 5px 15px;
  color: #242424;
  font-size: 14px;
  border: 2px solid #242424e6;
}

.nameField::placeholder,
.commentField::placeholder {
  color: #242424;
}

.closeBtn {
  width: 20px;
  margin-bottom: 10px;
  position: relative;
  left: 97%;
}

.addComment {
  display: inline-block;
  width: 200px;
  height: 40px;
  color: #fff;
  margin-top: 10px;
  background: rgba(36, 36, 36, 0.9);
  border-radius: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  width: 200px;
  height: 30px;
  padding: 10px;
  margin-block: 10px;
}

@media (max-width: 766px) {
  .container {
    padding: 0 10px;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
  }

  .navbar .navbar-ul {
    background: rgba(33, 68, 246, 0.5);
    padding: 10px 20px;
    border-radius: 10px 20px;
  }

  .movies .container {
    grid-template-columns: repeat(1, 1fr);
  }

  .movies .card {
    margin: auto;
  }

  .foot .container {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    height: 100px;
  }
}
